.form {
  width: 100%;
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
}

.form--btn-calcular {
  width: 100%;
  background-color: #2897eb;
  padding: 0.5rem 0.4rem;
  color: #fff;
  border-radius: 13px;
  font-size: 1.4rem;
  border: none;
  outline: none;
  cursor: pointer;
}

.form--span {
  color: blue;
}
